<div class="footer">
    <div class="row">
        <div class="col-sm-8">
            <p><small>&copy; dlstadther 2015</small></p>
        </div>
        <div class="col-sm-4">
            <p class="pull-right">
                <small>
                    <a href="mailto:dlstadther@gmail.com">email</a>
                    <a href="https://github.com/dlstadther">github.com/dlstadther</a>
                    <a href="https://stackoverflow.com/users/2565651/dlstadther">StackOverflow</a>
                    <a href="https://www.linkedin.com/in/dlstadther/">LinkedIn</a>
                </small>
            </p>
        </div>
    </div>
</div> <!-- /footer -->
