<style>
figure {
  float: center;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 2em;
  padding: 2em;
}
</style>

<figure>
    <a href="https://github.com/dlstadther"><img id="ghContributions" src="https://ghchart.rshah.org/dlstadther" alt="dlstadther's Github contributions"/></a>
    <figcaption id="ghContributionsCaption"></figcaption>
</figure>

<script>
    function randomColorInt() {
        return Math.floor((Math.random() * 255) + 1);
    }
    function randomColorHex() {
        return randomColorInt().toString(16);
    }

    var rgbHex = `${randomColorHex()}${randomColorHex()}${randomColorHex()}`

    var urlColor = `https://ghchart.rshah.org/${rgbHex}/dlstadther`
    var figureCaption = `Github Contribution Graph (Base RGB HEX: ${rgbHex})`

    document.getElementById("ghContributions").src = urlColor
    document.getElementById("ghContributionsCaption").innerHTML = figureCaption
</script>
