<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Dillon Stadther">

    <!-- favicon
    <link rel="shortcut icon" href="/img/ico/favicon.png">
    -->

    <title>{{ page.title }} | Dillon Stadther | Software Developer.</title>

    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- styles -->
    <!--
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    -->

    <!-- google analytics - i will not share this data with google -->
    {% include analytics.html %}
</head>